

/* Desktop  */
figure {
    margin: 0;
}
.news {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
.news article {
    margin: 5px 10px;
    width: 25%;
    /* flex-grow: 1; */
    background-color: #999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news article img {
    width: 100%;
}
.news .main {
    width: 50%;
    /* flex-grow: 2; */
}
.news .main + article {
    order: -1;
}

/* Mobile Adaptivity */
@media (max-width: 1240px) {
    .news {
        width: 92%;
        flex-direction: column;
    }
    .news article,
    .news .main {
        width: 100%;
    }
    .news .main{
    order: -2;
}
}